@use "sass:map";

$font-main: "Fira Code", monospace;
$bg-colour: #0d0d0d;
$text-colour: #c5c8c6;
$highlight-colours: (
  "blue": #0ebeff,
  "green": #47cf73,
  "grey": #d5d7de,
  "orange": #ff8c40,
  "purple": #5e90f1,
  "red": #e9393c,
  "yellow": #ffdd40,
);

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-colour;
  color: $text-colour;
  font-family: $font-main;
  font-size: 16px;
  margin: 0;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
}

#app {
  height: 100%;
  overflow-y: auto;
}

.welcome {
  line-height: 1;
  white-space: pre-wrap;
}

.prompt {
  color: map.get($highlight-colours, "green");
  margin-right: 5px;
}

.input-line {
  display: flex;
  margin-top: 10px;
  position: relative;
}

.command-input {
  background-color: transparent;
  border: none;
  color: $text-colour;
  font-family: $font-main;
  font-size: 16px;
  flex-grow: 1;
  outline: none;
  caret-color: transparent;
  position: relative;
}

.cursor {
  display: inline-block;
  width: 10px;
  height: 18px;
  background-color: map.get($highlight-colours, "green");
  animation: blink 1s step-end infinite;
  position: absolute;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.command-history {
  margin-bottom: 10px;
}

.output {
  margin: 5px 0 15px;
}

// Dynamically generate colour classes
@each $name, $hex in $highlight-colours {
  .#{$name} {
    color: $hex;
  }
}

.output.list > div:not(:first-child) {
  display: grid;
  grid-template-columns: 13rem 1fr;
  grid-column-gap: 5px;
}

em,
i {
  font-style: normal;
}

.output div:first-child em,
.output i {
  color: map.get($highlight-colours, "yellow");
}

.output em i {
  color: map.get($highlight-colours, "orange");
}

.output div:first-child i,
.output em,
.output div:first-child em em {
  color: map.get($highlight-colours, "blue");
  font-weight: bold;
}

@media (max-width: 600px) {
  body,
  .terminal,
  .output {
    font-size: 0.75rem;
  }

  .output.list > div:not(:first-child) {
    grid-template-columns: 1fr;
    margin-bottom: 0.5rem;
  }

  #app {
    overflow-x: hidden;
  }
}
